/*
	Trabajo realizado por:
		Héctor Andrés Valdés González
			Matricula: 1667302
		Kevin González Badillo*
			Matricula: ???????
	*Desaparecido en los ultimos momentos
*/




/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server

*/
USE [master]
GO
/****** Object:  Database [Consultorio]    Script Date: 11/11/2017 11:54:18 p. m. ******/
CREATE DATABASE [Consultorio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consultorio', FILENAME = N'F:\Consultorio\Consultorio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Consultorio_log', FILENAME = N'F:\Consultorio\Consultorio_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consultorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Consultorio]
GO
USE [Consultorio]
GO
/****** Object:  UserDefinedFunction [dbo].[suma_resta]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[suma_resta]
(@cant int,@cant2 int)
returns int
as begin
	set @cant=@cant+@cant2
	return @cant
end
GO
/****** Object:  Table [dbo].[CitaPaciente]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitaPaciente](
	[IDEmpleado] [varchar](8) NOT NULL,
	[IDPaciente] [varchar](8) NOT NULL,
	[NumConsultorio] [int] NOT NULL,
	[InicioCita] [time](7) NOT NULL,
	[FinCita] [time](7) NOT NULL,
	[NumCita] [int] NOT NULL,
 CONSTRAINT [PK_CitaPaciente] PRIMARY KEY CLUSTERED 
(
	[NumCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadoConsultorio]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadoConsultorio](
	[IDEmpleado] [varchar](8) NOT NULL,
	[NomEmpleado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EmpleadoConsultorio] PRIMARY KEY CLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PacienteConsultorio]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacienteConsultorio](
	[IDPaciente] [varchar](8) NOT NULL,
	[NomPaciente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PacienteConsultorio] PRIMARY KEY CLUSTERED 
(
	[IDPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaCitasDoctor]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VistaCitasDoctor] as
select c.InicioCita,c.FinCita,e.NomEmpleado,p.NomPaciente
from CitaPaciente c,PacienteConsultorio p,EmpleadoConsultorio e
left join CitaPaciente a on a.IDEmpleado=e.IDEmpleado

GO
/****** Object:  View [dbo].[VistaCitasPaciente]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VistaCitasPaciente] as
select c.InicioCita,c.FinCita,e.NomEmpleado,p.NomPaciente
from CitaPaciente c,EmpleadoConsultorio e,PacienteConsultorio p
left join CitaPaciente b on b.IDPaciente=p.IDPaciente

GO
/****** Object:  View [dbo].[VistaCitas]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VistaCitas] as
select p.InicioCita,p.FinCita,e.NomEmpleado,p.NomPaciente
from VistaCitasPaciente p,VistaCitasDoctor e
left join VistaCitasPaciente c on e.NomEmpleado=c.NomEmpleado

GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[NumConsultorio] [int] NOT NULL,
	[Ubicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Consultorio] PRIMARY KEY CLUSTERED 
(
	[NumConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrdenCompra]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrdenCompra](
	[IDMedicamento] [varchar](8) NOT NULL,
	[IDOrdenCompra] [varchar](8) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [money] NOT NULL,
	[Total] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleReceta]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleReceta](
	[IDReceta] [varchar](8) NOT NULL,
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[Dosis] [int] NOT NULL,
	[Frecuencia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleTicket]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleTicket](
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[IDTicket] [varchar](8) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [money] NOT NULL,
	[Total] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorConsultorio]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorConsultorio](
	[IDEmpleado] [varchar](8) NOT NULL,
	[Especialidad] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialMedicinas]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialMedicinas](
	[IDHistorial] [varchar](8) NOT NULL,
	[IDMedicamento] [varchar](8) NOT NULL,
	[Dosis] [int] NOT NULL,
	[Frecuencia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPaciente]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPaciente](
	[IDPaciente] [varchar](8) NOT NULL,
	[Diagnostico] [varchar](50) NOT NULL,
	[IDHistorial] [varchar](8) NOT NULL,
	[Tratamiento] [varchar](50) NOT NULL,
	[Descripcion] [text] NOT NULL,
 CONSTRAINT [PK_HistorialPaciente] PRIMARY KEY CLUSTERED 
(
	[IDHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioMedicamentos]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioMedicamentos](
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListadoMedicamentos]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListadoMedicamentos](
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[NomMedicamento] [varchar](50) NOT NULL,
	[DescripcionMedicamento] [text] NOT NULL,
 CONSTRAINT [PK_ListadoMedicamentos] PRIMARY KEY CLUSTERED 
(
	[IDMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoSalida]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoSalida](
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosEntrada]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosEntrada](
	[IDMedicamento] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[IDProveedor] [varchar](8) NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[IDOrdenCompra] [varchar](8) NOT NULL,
 CONSTRAINT [PK_OrdenCompra] PRIMARY KEY CLUSTERED 
(
	[IDOrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IDProveedor] [varchar](8) NOT NULL,
	[NomProveedor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecetaPaciente]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetaPaciente](
	[NumCita] [int] NOT NULL,
	[FechaReceta] [time](7) NOT NULL,
	[VencimientoReceta] [time](7) NOT NULL,
	[EstatusReceta] [char](10) NOT NULL,
	[IDReceta] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RecetaPaciente] PRIMARY KEY CLUSTERED 
(
	[IDReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventarioMedicamentos]    Script Date: 11/11/2017 11:54:18 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventarioMedicamentos] ON [dbo].[InventarioMedicamentos]
(
	[IDMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientoSalida]    Script Date: 11/11/2017 11:54:18 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MovimientoSalida] ON [dbo].[MovimientoSalida]
(
	[IDMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosEntrada]    Script Date: 11/11/2017 11:54:18 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MovimientosEntrada] ON [dbo].[MovimientosEntrada]
(
	[IDMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpleadoConsultorio] ADD  DEFAULT (newid()) FOR [IDEmpleado]
GO
ALTER TABLE [dbo].[EmpleadoConsultorio] ADD  DEFAULT ('John Doe') FOR [NomEmpleado]
GO
ALTER TABLE [dbo].[PacienteConsultorio] ADD  DEFAULT (newid()) FOR [IDPaciente]
GO
ALTER TABLE [dbo].[PacienteConsultorio] ADD  DEFAULT ('John Doe') FOR [NomPaciente]
GO
ALTER TABLE [dbo].[CitaPaciente]  WITH CHECK ADD  CONSTRAINT [FK_CitaPaciente_Consultorio] FOREIGN KEY([NumConsultorio])
REFERENCES [dbo].[Consultorio] ([NumConsultorio])
GO
ALTER TABLE [dbo].[CitaPaciente] CHECK CONSTRAINT [FK_CitaPaciente_Consultorio]
GO
ALTER TABLE [dbo].[CitaPaciente]  WITH CHECK ADD  CONSTRAINT [FK_CitaPaciente_EmpleadoConsultorio] FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[EmpleadoConsultorio] ([IDEmpleado])
GO
ALTER TABLE [dbo].[CitaPaciente] CHECK CONSTRAINT [FK_CitaPaciente_EmpleadoConsultorio]
GO
ALTER TABLE [dbo].[CitaPaciente]  WITH CHECK ADD  CONSTRAINT [FK_CitaPaciente_PacienteConsultorio] FOREIGN KEY([IDPaciente])
REFERENCES [dbo].[PacienteConsultorio] ([IDPaciente])
GO
ALTER TABLE [dbo].[CitaPaciente] CHECK CONSTRAINT [FK_CitaPaciente_PacienteConsultorio]
GO
ALTER TABLE [dbo].[DetalleOrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrdenCompra_OrdenCompra] FOREIGN KEY([IDOrdenCompra])
REFERENCES [dbo].[OrdenCompra] ([IDOrdenCompra])
GO
ALTER TABLE [dbo].[DetalleOrdenCompra] CHECK CONSTRAINT [FK_DetalleOrdenCompra_OrdenCompra]
GO
ALTER TABLE [dbo].[DetalleReceta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleReceta_ListadoMedicamentos] FOREIGN KEY([IDMedicamento])
REFERENCES [dbo].[ListadoMedicamentos] ([IDMedicamento])
GO
ALTER TABLE [dbo].[DetalleReceta] CHECK CONSTRAINT [FK_DetalleReceta_ListadoMedicamentos]
GO
ALTER TABLE [dbo].[DetalleTicket]  WITH CHECK ADD  CONSTRAINT [FK_DetalleTicket_MovimientoSalida] FOREIGN KEY([IDMedicamento])
REFERENCES [dbo].[MovimientoSalida] ([IDMedicamento])
GO
ALTER TABLE [dbo].[DetalleTicket] CHECK CONSTRAINT [FK_DetalleTicket_MovimientoSalida]
GO
ALTER TABLE [dbo].[DoctorConsultorio]  WITH CHECK ADD  CONSTRAINT [FK_DoctorConsultorio_EmpleadoConsultorio] FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[EmpleadoConsultorio] ([IDEmpleado])
GO
ALTER TABLE [dbo].[DoctorConsultorio] CHECK CONSTRAINT [FK_DoctorConsultorio_EmpleadoConsultorio]
GO
ALTER TABLE [dbo].[HistorialMedicinas]  WITH CHECK ADD  CONSTRAINT [FK_HistorialMedicinas_HistorialPaciente] FOREIGN KEY([IDHistorial])
REFERENCES [dbo].[HistorialPaciente] ([IDHistorial])
GO
ALTER TABLE [dbo].[HistorialMedicinas] CHECK CONSTRAINT [FK_HistorialMedicinas_HistorialPaciente]
GO
ALTER TABLE [dbo].[HistorialPaciente]  WITH CHECK ADD  CONSTRAINT [FK_HistorialPaciente_PacienteConsultorio] FOREIGN KEY([IDPaciente])
REFERENCES [dbo].[PacienteConsultorio] ([IDPaciente])
GO
ALTER TABLE [dbo].[HistorialPaciente] CHECK CONSTRAINT [FK_HistorialPaciente_PacienteConsultorio]
GO
ALTER TABLE [dbo].[InventarioMedicamentos]  WITH CHECK ADD  CONSTRAINT [FK_InventarioMedicamentos_ListadoMedicamentos] FOREIGN KEY([IDMedicamento])
REFERENCES [dbo].[ListadoMedicamentos] ([IDMedicamento])
GO
ALTER TABLE [dbo].[InventarioMedicamentos] CHECK CONSTRAINT [FK_InventarioMedicamentos_ListadoMedicamentos]
GO
ALTER TABLE [dbo].[MovimientoSalida]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoSalida_InventarioMedicamentos] FOREIGN KEY([IDMedicamento])
REFERENCES [dbo].[InventarioMedicamentos] ([IDMedicamento])
GO
ALTER TABLE [dbo].[MovimientoSalida] CHECK CONSTRAINT [FK_MovimientoSalida_InventarioMedicamentos]
GO
ALTER TABLE [dbo].[MovimientosEntrada]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosEntrada_InventarioMedicamentos] FOREIGN KEY([IDMedicamento])
REFERENCES [dbo].[InventarioMedicamentos] ([IDMedicamento])
GO
ALTER TABLE [dbo].[MovimientosEntrada] CHECK CONSTRAINT [FK_MovimientosEntrada_InventarioMedicamentos]
GO
ALTER TABLE [dbo].[OrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCompra_Proveedor] FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[OrdenCompra] CHECK CONSTRAINT [FK_OrdenCompra_Proveedor]
GO
ALTER TABLE [dbo].[RecetaPaciente]  WITH CHECK ADD  CONSTRAINT [FK_RecetaPaciente_CitaPaciente] FOREIGN KEY([NumCita])
REFERENCES [dbo].[CitaPaciente] ([NumCita])
GO
ALTER TABLE [dbo].[RecetaPaciente] CHECK CONSTRAINT [FK_RecetaPaciente_CitaPaciente]
GO
/****** Object:  StoredProcedure [dbo].[ReporteNCitas]    Script Date: 11/11/2017 11:54:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteNCitas]
(@input int)
as
begin
	select top (@input) *
	from VistaCitas
	order by NewID()
end
GO
USE [master]
GO
